<html>
<body>
<form action="/demo" method="POST">
pid : <input type="text" name="pid"><br>
pname : <input type="text" name="pname"><br>
<button type="submit">Submit</button>
</form>
</body>
</html>